@import '../../styles/variables.scss';

.container {
  width: 100%;
  height: 100%;

  padding: 8px;

  table {
    border: $border;
    border-collapse: collapse;

    thead {
      height: 40px;
      background-color: $table-header-color;

      .id_column {
        width: 70px;
      }

      .name_column {
        width: 250px;
      }

      .description_column {
        width: 400px;
      }

      .status_column {
        width: 120px;
      }
    }

    td {
      padding: 8px;
      border: $border;

      &.id_cell {
        text-align: end;
        font-weight: 600;
      }

      &.status_cell {
        text-align: center;
        font-style: italic;
      }
    }
  }
}